.fa-facebook-square{
	color:black;
	float:right;
}

.fa-instagram{
	color:black;
	float:right;
}

.fa-envelope-o{
	color:black;
	float:right;
}

.text-center{
	border-color: white;
}

.no-white{
	border-color: white;

}